@page
@model IndexModel

<div class="h-screen dark:bg-slate-800 flex justify-center items-center">
    <h1 class="text-7xl text-cyan-500 transition-colors dark:text-cyan-400 duration-300 hover:cursor-pointer font-medium text-center">Socia Network</h1>
</div>
